.stocks-container {
  display: flex;
  flex-direction: flex-row;
  text-align: center;
}

/*  Buttons   */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  margin: 0 auto;
  height: 100%;
}

.stock-button {
  padding: 19.77px;
  font-size: 25px;
  background-color: #91d18b;
  border: 1px solid white;
  letter-spacing: 2px;
  font-weight: 600;
  color: #f4f4f4;
  font-family: "Barlow", sans-serif;
  width: 100%;
}

.stock-button:hover {
  cursor: pointer;
  background-color: #158467;
}

.active {
  background-color: #cedebd;
}

/* Chart */
.chart-container {
  width: 70%;
  margin: 0 auto;
}
